{% extends "localtv/__layouts/50_50.html" %}

{% load i18n uploadtemplate daguerre %}

{% block title %}{{ block.super }} - {% trans "About" %}{% endblock %}

{% block body_id %}about_page{% endblock %}

{% block main %}
	<div class="pod">
		<header class="pod-header">
			<h1 class="pod-title">{% trans "About" %}</h1>
		</header>
		<div class="pod-content">
			{% if site_settings.logo %}
				<figure class="figure-left">
					<img class="logo" alt="{{ site_settings.site.name }} Logo" src="{% adjust site_settings.logo.name width=480 height=160 adjustment="fit" %}" />
				</figure>
			{% endif %}
			{% autoescape off %}
				{{ site_settings.about_html }}
			{% endautoescape %}
		</div>
	</div>{# /.pod #}
{% endblock %}

{% block side %}
	<div class="pod">
		<header class="pod-header">
			<h1 class="pod-title">{% trans "Our Mission" %}</h1>
		</header>
		<div class="pod-content">

			<p>
				{% blocktrans %}
<p><strong>THE INTENTION AND PURPOSE OF SMALLSLIVE IS DEDICATED TO THE BETTERMENT OF MANKIND THROUGH THE DISSEMINATION OF THIS MUSIC WORLD WIDE.</strong></p>
<p>
OUR HOPE IS THAT THE MUSIC ON THIS SITE WILL BE STUDIED AND ENJOYED BY PEOPLE OF OPEN MINDS AND POSITIVE CLEAR THOUGHTS.  PLEASE RESEARCH THESE ARTISTS.  IF YOU ENJOY THEIR MUSIC, PLEASE SUPPORT THEM BY PURCHASING THEIR MUSIC OR CONTACTING THEM WITH YOUR POSITIVE FEEDBACK. WE DEDICATE THIS WEBSITE AS RESOURCE FOR MUSICIANS AND FANS TO DISCOVER EACH OTHER’S WORKS, TO SHARE IDEAS AND FURTHER THE DEVELOPMENT OF THIS MUSIC.  ONLY THROUGH PEACEFUL INTERCHANGE OF IDEAS WILL WE BE ABLE TO PROGRESS AS ARTISTS AND HUMAN BEINGS.
</p>
<p>
OUR INTENTION IS ALSO TO SUPPORT SMALLS JAZZ CLUB AND THE MUSICIANS THAT PERFORM THERE.  BY SUPPORTING THIS SITE, YOU ARE DIRECTLY SUPPORTING THE CLUB AND ITS ARTISTS.  WE HOPE THAT IF YOU ARE ABLE TO, THAT YOU COME VISIT US IN NEW YORK CITY AND EXPERIENCE THE CLUB IN PERSON.  WE ASK THAT YOU NOT STEAL FROM THIS SITE AND THAT YOU TREAT THE MATERIAL HERE RESPECTFULLY.
</p>
<p>
<strong>WE ARE DEDICATED TO WORLD PEACE THROUGH MUSIC.</strong>
</p>
				{% endblocktrans %}
			</p>
		</div>
	</div>{# /.pod #}
{% endblock %}
